blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

blockquote>:first-child {
  margin-top: 0px;
}

blockquote>:last-child {
  margin-bottom: 0px;
}

blockquote p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.25;
}